body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
div.main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_original {
    background-image: url('../Add_New_Concept_files/u0_original.png');
}

.u0_container {
    position:absolute;
    left:641px;
    top:159px;
    width:50px;
    height:26px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:56px;
    height:32px;
}

.u1 {
    position:absolute;
    left:2px;
    top:6px;
    width:46px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u0 {
    position:absolute;
    left:641px;
    top:159px;
    width:50px;
    height:26px
}

.u2_original {
    background-image: url('../Add_New_Concept_files/u2_original.png');
}

.u2_container {
    position:absolute;
    left:1px;
    top:0px;
    width:145px;
    height:768px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:151px;
    height:774px;
}

.u3 {
    position:absolute;
    left:2px;
    top:376px;
    width:141px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2 {
    position:absolute;
    left:1px;
    top:0px;
    width:145px;
    height:768px
}

.u4_original {
    background-image: url('../Add_New_Concept_files/u4_original.png');
}

.u4_container {
    position:absolute;
    left:1px;
    top:0px;
    width:29px;
    height:32px;
}

#u4_img {
    position:absolute;
    left:0px;
    top:0px;
    width:29px;
    height:32px;
}

.u5 {
    position:absolute;
    left:2px;
    top:8px;
    width:25px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4 {
    position:absolute;
    left:1px;
    top:0px;
    width:29px;
    height:32px
}

.u6_original {
    background-image: url('../Add_New_Concept_files/u6_original.png');
}

.u6_container {
    position:absolute;
    left:1px;
    top:156px;
    width:144px;
    height:30px;
}

#u6_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:150px;
    height:36px;
}

.u7 {
    position:absolute;
    left:30px;
    top:8px;
    width:109px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6 {
    position:absolute;
    left:1px;
    top:156px;
    width:144px;
    height:30px
}

.u8_original {
    background-image: url('../Add_New_Concept_files/u8_original.png');
}

.u8_container {
    position:absolute;
    left:3px;
    top:155px;
    width:29px;
    height:32px;
}

#u8_img {
    position:absolute;
    left:0px;
    top:0px;
    width:29px;
    height:32px;
}

.u9 {
    position:absolute;
    left:2px;
    top:8px;
    width:25px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8 {
    position:absolute;
    left:3px;
    top:155px;
    width:29px;
    height:32px
}

.u10_original {
    background-image: url('../Add_New_Concept_files/u6_original.png');
}

.u10_container {
    position:absolute;
    left:1px;
    top:186px;
    width:144px;
    height:30px;
}

#u10_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:150px;
    height:36px;
}

.u11 {
    position:absolute;
    left:30px;
    top:8px;
    width:109px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10 {
    position:absolute;
    left:1px;
    top:186px;
    width:144px;
    height:30px
}

.u12_original {
    background-image: url('../Add_New_Concept_files/u12_original.png');
}

.u12_container {
    position:absolute;
    left:3px;
    top:185px;
    width:32px;
    height:32px;
}

#u12_img {
    position:absolute;
    left:0px;
    top:0px;
    width:32px;
    height:32px;
}

.u13 {
    position:absolute;
    left:2px;
    top:8px;
    width:28px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12 {
    position:absolute;
    left:3px;
    top:185px;
    width:32px;
    height:32px
}

.u14_original {
    background-image: url('../Add_New_Concept_files/u6_original.png');
}

.u14_container {
    position:absolute;
    left:1px;
    top:216px;
    width:144px;
    height:30px;
}

#u14_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:150px;
    height:36px;
}

.u15 {
    position:absolute;
    left:30px;
    top:8px;
    width:109px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14 {
    position:absolute;
    left:1px;
    top:216px;
    width:144px;
    height:30px
}

.u16_original {
    background-image: url('../Add_New_Concept_files/u16_original.png');
}

.u16_container {
    position:absolute;
    left:3px;
    top:215px;
    width:30px;
    height:32px;
}

#u16_img {
    position:absolute;
    left:0px;
    top:0px;
    width:30px;
    height:32px;
}

.u17 {
    position:absolute;
    left:2px;
    top:8px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16 {
    position:absolute;
    left:3px;
    top:215px;
    width:30px;
    height:32px
}

.u18_original {
    background-image: url('../Add_New_Concept_files/u6_original.png');
}

.u18_container {
    position:absolute;
    left:1px;
    top:246px;
    width:144px;
    height:30px;
}

#u18_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:150px;
    height:36px;
}

.u19 {
    position:absolute;
    left:30px;
    top:8px;
    width:109px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18 {
    position:absolute;
    left:1px;
    top:246px;
    width:144px;
    height:30px
}

.u20_original {
    background-image: url('../Add_New_Concept_files/u20_original.png');
}

.u20_container {
    position:absolute;
    left:3px;
    top:245px;
    width:31px;
    height:32px;
}

#u20_img {
    position:absolute;
    left:0px;
    top:0px;
    width:31px;
    height:32px;
}

.u21 {
    position:absolute;
    left:2px;
    top:8px;
    width:27px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20 {
    position:absolute;
    left:3px;
    top:245px;
    width:31px;
    height:32px
}

.u22_original {
    background-image: url('../Add_New_Concept_files/u6_original.png');
}

.u22_container {
    position:absolute;
    left:1px;
    top:283px;
    width:144px;
    height:30px;
}

#u22_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:150px;
    height:36px;
}

.u23 {
    position:absolute;
    left:30px;
    top:8px;
    width:109px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22 {
    position:absolute;
    left:1px;
    top:283px;
    width:144px;
    height:30px
}

.u24_original {
    background-image: url('../Add_New_Concept_files/u24_original.png');
}

.u24_container {
    position:absolute;
    left:3px;
    top:282px;
    width:28px;
    height:32px;
}

#u24_img {
    position:absolute;
    left:0px;
    top:0px;
    width:28px;
    height:32px;
}

.u25 {
    position:absolute;
    left:2px;
    top:8px;
    width:24px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u24 {
    position:absolute;
    left:3px;
    top:282px;
    width:28px;
    height:32px
}

.u26_original {
    background-image: url('../Add_New_Concept_files/u6_original.png');
}

.u26_container {
    position:absolute;
    left:1px;
    top:313px;
    width:144px;
    height:30px;
}

#u26_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:150px;
    height:36px;
}

.u27 {
    position:absolute;
    left:30px;
    top:8px;
    width:109px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u26 {
    position:absolute;
    left:1px;
    top:313px;
    width:144px;
    height:30px
}

.u28_original {
    background-image: url('../Add_New_Concept_files/u28_original.png');
}

.u28_container {
    position:absolute;
    left:3px;
    top:312px;
    width:30px;
    height:32px;
}

#u28_img {
    position:absolute;
    left:0px;
    top:0px;
    width:30px;
    height:32px;
}

.u29 {
    position:absolute;
    left:2px;
    top:8px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u28 {
    position:absolute;
    left:3px;
    top:312px;
    width:30px;
    height:32px
}

.u30_original {
    background-image: url('../Add_New_Concept_files/u6_original.png');
}

.u30_container {
    position:absolute;
    left:1px;
    top:343px;
    width:144px;
    height:30px;
}

#u30_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:150px;
    height:36px;
}

.u31 {
    position:absolute;
    left:30px;
    top:8px;
    width:109px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u30 {
    position:absolute;
    left:1px;
    top:343px;
    width:144px;
    height:30px
}

.u32_original {
    background-image: url('../Add_New_Concept_files/u32_original.png');
}

.u32_container {
    position:absolute;
    left:3px;
    top:342px;
    width:30px;
    height:32px;
}

#u32_img {
    position:absolute;
    left:0px;
    top:0px;
    width:30px;
    height:32px;
}

.u33 {
    position:absolute;
    left:2px;
    top:8px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u32 {
    position:absolute;
    left:3px;
    top:342px;
    width:30px;
    height:32px
}

.u34_original {
    background-image: url('../Add_New_Concept_files/u6_original.png');
}

.u34_container {
    position:absolute;
    left:1px;
    top:373px;
    width:144px;
    height:30px;
}

#u34_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:150px;
    height:36px;
}

.u35 {
    position:absolute;
    left:30px;
    top:8px;
    width:109px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u34 {
    position:absolute;
    left:1px;
    top:373px;
    width:144px;
    height:30px
}

.u36_original {
    background-image: url('../Add_New_Concept_files/u36_original.png');
}

.u36_container {
    position:absolute;
    left:3px;
    top:372px;
    width:30px;
    height:32px;
}

#u36_img {
    position:absolute;
    left:0px;
    top:0px;
    width:30px;
    height:32px;
}

.u37 {
    position:absolute;
    left:2px;
    top:8px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u36 {
    position:absolute;
    left:3px;
    top:372px;
    width:30px;
    height:32px
}

.u38_original {
    background-image: url('../Add_New_Concept_files/u6_original.png');
}

.u38_container {
    position:absolute;
    left:1px;
    top:403px;
    width:144px;
    height:30px;
}

#u38_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:150px;
    height:36px;
}

.u39 {
    position:absolute;
    left:30px;
    top:8px;
    width:109px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u38 {
    position:absolute;
    left:1px;
    top:403px;
    width:144px;
    height:30px
}

.u40_original {
    background-image: url('../Add_New_Concept_files/u40_original.png');
}

.u40_container {
    position:absolute;
    left:3px;
    top:402px;
    width:32px;
    height:32px;
}

#u40_img {
    position:absolute;
    left:0px;
    top:0px;
    width:32px;
    height:32px;
}

.u41 {
    position:absolute;
    left:2px;
    top:8px;
    width:28px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u40 {
    position:absolute;
    left:3px;
    top:402px;
    width:32px;
    height:32px
}

.u42_line {
    background-image: url('../Add_New_Concept_files/u42_line.png');
}

.u42_line {
    position:absolute;
    left:166px;
    top:29px;
    width:1085px;
    height:3px;
}

.u42 {
    position:absolute;
    left:166px;
    top:29px;
    width:1085px;
    height:3px
}

.u43_original {
    background-image: url('../Add_New_Concept_files/u43_original.png');
}

.u43_container {
    position:absolute;
    left:171px;
    top:7px;
    width:16px;
    height:16px;
}

#u43_img {
    position:absolute;
    left:0px;
    top:0px;
    width:16px;
    height:16px;
}

.u44 {
    position:absolute;
    left:2px;
    top:0px;
    width:12px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u43 {
    position:absolute;
    left:171px;
    top:7px;
    width:16px;
    height:16px
}

.u45 {
    position:absolute;
    left:195px;
    top:7px;
    width:106px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u46_original {
    background-image: url('../Add_New_Concept_files/u46_original.png');
}

.u46_container {
    position:absolute;
    left:186px;
    top:38px;
    width:22px;
    height:35px;
}

#u46_img {
    position:absolute;
    left:0px;
    top:0px;
    width:22px;
    height:35px;
}

.u47 {
    position:absolute;
    left:2px;
    top:10px;
    width:18px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u46 {
    position:absolute;
    left:186px;
    top:38px;
    width:22px;
    height:35px
}

.u48 {
    position:absolute;
    left:214px;
    top:42px;
    width:196px;
    height:27px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u49 {
    position:absolute;
    left:1155px;
    top:7px;
    width:80px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u50_original {
    background-image: url('../Add_New_Concept_files/u50_original.png');
}

.u50_container {
    position:absolute;
    left:1236px;
    top:7px;
    width:15px;
    height:17px;
}

#u50_img {
    position:absolute;
    left:0px;
    top:0px;
    width:15px;
    height:17px;
}

.u51 {
    position:absolute;
    left:2px;
    top:0px;
    width:11px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u50 {
    position:absolute;
    left:1236px;
    top:7px;
    width:15px;
    height:17px
}

.u52_original {
    background-image: url('../Add_New_Concept_files/u52_original.png');
}

.u52_container {
    position:absolute;
    left:0px;
    top:34px;
    width:161px;
    height:31px;
}

#u52_img {
    position:absolute;
    left:0px;
    top:0px;
    width:161px;
    height:31px;
}

.u53 {
    position:absolute;
    left:2px;
    top:8px;
    width:157px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u52 {
    position:absolute;
    left:0px;
    top:34px;
    width:161px;
    height:31px
}

.u54_original {
    background-image: url('../Add_New_Concept_files/u54_original.png');
}

.u54_container {
    position:absolute;
    left:0px;
    top:86px;
    width:145px;
    height:22px;
}

#u54_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:151px;
    height:28px;
}

.u55 {
    position:absolute;
    left:12px;
    top:4px;
    width:128px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u54 {
    position:absolute;
    left:0px;
    top:86px;
    width:145px;
    height:22px
}

.u56_original {
    background-image: url('../Add_New_Concept_files/u54_original.png');
}

.u56_container {
    position:absolute;
    left:0px;
    top:63px;
    width:145px;
    height:22px;
}

#u56_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:151px;
    height:28px;
}

.u57 {
    position:absolute;
    left:12px;
    top:4px;
    width:128px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u56 {
    position:absolute;
    left:0px;
    top:63px;
    width:145px;
    height:22px
}

.u58_original {
    background-image: url('../Add_New_Concept_files/u58_original.png');
}

.u58_container {
    position:absolute;
    left:12px;
    top:39px;
    width:11px;
    height:18px;
}

#u58_img {
    position:absolute;
    left:0px;
    top:0px;
    width:11px;
    height:18px;
}

.u59 {
    position:absolute;
    left:2px;
    top:1px;
    width:7px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u58 {
    position:absolute;
    left:12px;
    top:39px;
    width:11px;
    height:18px
}

.u60 {
    position:absolute;
    left:31px;
    top:42px;
    width:70px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u61_original {
    background-image: url('../Add_New_Concept_files/u50_original.png');
}

.u61_container {
    position:absolute;
    left:126px;
    top:42px;
    width:15px;
    height:17px;
}

#u61_img {
    position:absolute;
    left:0px;
    top:0px;
    width:15px;
    height:17px;
}

.u62 {
    position:absolute;
    left:2px;
    top:0px;
    width:11px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u61 {
    position:absolute;
    left:126px;
    top:42px;
    width:15px;
    height:17px
}

.u63_original {
    background-image: url('../Add_New_Concept_files/u6_original.png');
}

.u63_container {
    position:absolute;
    left:1px;
    top:1px;
    width:144px;
    height:30px;
}

#u63_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:150px;
    height:36px;
}

.u64 {
    position:absolute;
    left:30px;
    top:8px;
    width:109px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u63 {
    position:absolute;
    left:1px;
    top:1px;
    width:144px;
    height:30px
}

.u65_original {
    background-image: url('../Add_New_Concept_files/u54_original.png');
}

.u65_container {
    position:absolute;
    left:0px;
    top:109px;
    width:145px;
    height:22px;
}

#u65_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:151px;
    height:28px;
}

.u66 {
    position:absolute;
    left:12px;
    top:4px;
    width:128px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u65 {
    position:absolute;
    left:0px;
    top:109px;
    width:145px;
    height:22px
}

.u67_original {
    background-image: url('../Add_New_Concept_files/u54_original.png');
}

.u67_container {
    position:absolute;
    left:0px;
    top:132px;
    width:145px;
    height:22px;
}

#u67_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:151px;
    height:28px;
}

.u68 {
    position:absolute;
    left:12px;
    top:4px;
    width:128px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u67 {
    position:absolute;
    left:0px;
    top:132px;
    width:145px;
    height:22px
}

.u69_original {
    background-image: url('../Add_New_Concept_files/u69_original.png');
}

.u69_container {
    position:absolute;
    left:166px;
    top:90px;
    width:537px;
    height:30px;
}

#u69_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:543px;
    height:36px;
}

.u70 {
    position:absolute;
    left:4px;
    top:7px;
    width:529px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u69 {
    position:absolute;
    left:166px;
    top:90px;
    width:537px;
    height:30px
}

.u71_original {
    background-image: url('../Add_New_Concept_files/u71_original.png');
}

.u71_container {
    position:absolute;
    left:166px;
    top:220px;
    width:535px;
    height:378px;
}

#u71_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:541px;
    height:384px;
}

.u72 {
    position:absolute;
    left:2px;
    top:181px;
    width:531px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u71 {
    position:absolute;
    left:166px;
    top:220px;
    width:535px;
    height:378px
}

.u73_original {
    background-image: url('../Add_New_Concept_files/u73_original.png');
}

.u73_container {
    position:absolute;
    left:166px;
    top:619px;
    width:535px;
    height:22px;
}

#u73_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:541px;
    height:28px;
}

.u74 {
    position:absolute;
    left:5px;
    top:4px;
    width:528px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u73 {
    position:absolute;
    left:166px;
    top:619px;
    width:535px;
    height:22px
}

.u75_original {
    background-image: url('../Add_New_Concept_files/u75_original.png');
}

.u75_container {
    position:absolute;
    left:166px;
    top:598px;
    width:535px;
    height:20px;
}

#u75_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:541px;
    height:26px;
}

.u76 {
    position:absolute;
    left:5px;
    top:3px;
    width:528px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u75 {
    position:absolute;
    left:166px;
    top:598px;
    width:535px;
    height:20px
}

.u77_original {
    background-image: url('../Add_New_Concept_files/u77_original.png');
}

.u77_container {
    position:absolute;
    left:166px;
    top:184px;
    width:535px;
    height:35px;
}

#u77_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:541px;
    height:41px;
}

.u78 {
    position:absolute;
    left:2px;
    top:10px;
    width:531px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u77 {
    position:absolute;
    left:166px;
    top:184px;
    width:535px;
    height:35px
}

.u79_original {
    background-image: url('../Add_New_Concept_files/u79_original.png');
}

.u79_container {
    position:absolute;
    left:167px;
    top:185px;
    width:461px;
    height:33px;
}

#u79_img {
    position:absolute;
    left:0px;
    top:0px;
    width:461px;
    height:33px;
}

.u80 {
    position:absolute;
    left:2px;
    top:8px;
    width:457px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u79 {
    position:absolute;
    left:167px;
    top:185px;
    width:461px;
    height:33px
}

.u81 {
    position:absolute;
    left:177px;
    top:164px;
    width:80px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u82_container {
    position:absolute;
    left:270px;
    top:167px;
    width:14px;
    height:12px;
}

#u82_img {
    position:absolute;
    left:0px;
    top:0px;
    width:14px;
    height:12px;
}

.u83 {
    position:absolute;
    left:2px;
    top:-2px;
    width:10px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u82 {
    position:absolute;
    left:270px;
    top:167px;
    width:14px;
    height:12px
}

.u84_container {
    position:absolute;
    left:292px;
    top:167px;
    width:13px;
    height:12px;
}

#u84_img {
    position:absolute;
    left:0px;
    top:0px;
    width:13px;
    height:12px;
}

.u85 {
    position:absolute;
    left:2px;
    top:-2px;
    width:9px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u84 {
    position:absolute;
    left:292px;
    top:167px;
    width:13px;
    height:12px
}

.u86_container {
    position:absolute;
    left:314px;
    top:167px;
    width:12px;
    height:12px;
}

#u86_img {
    position:absolute;
    left:0px;
    top:0px;
    width:12px;
    height:12px;
}

.u87 {
    position:absolute;
    left:2px;
    top:-2px;
    width:8px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u86 {
    position:absolute;
    left:314px;
    top:167px;
    width:12px;
    height:12px
}

.u88_container {
    position:absolute;
    left:337px;
    top:166px;
    width:13px;
    height:13px;
}

#u88_img {
    position:absolute;
    left:0px;
    top:0px;
    width:13px;
    height:13px;
}

.u89 {
    position:absolute;
    left:2px;
    top:-2px;
    width:9px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u88 {
    position:absolute;
    left:337px;
    top:166px;
    width:13px;
    height:13px
}

.u90_original {
    background-image: url('../Add_New_Concept_files/u90_original.png');
}

.u90_container {
    position:absolute;
    left:587px;
    top:159px;
    width:50px;
    height:26px;
}

#u90_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:56px;
    height:32px;
}

.u91 {
    position:absolute;
    left:2px;
    top:6px;
    width:46px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u90 {
    position:absolute;
    left:587px;
    top:159px;
    width:50px;
    height:26px
}

.u92_original {
    background-image: url('../Add_New_Concept_files/u92_original.png');
}

.u92_container {
    position:absolute;
    left:728px;
    top:121px;
    width:263px;
    height:170px;
}

#u92_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:269px;
    height:176px;
}

.u93 {
    position:absolute;
    left:2px;
    top:77px;
    width:259px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u92 {
    position:absolute;
    left:728px;
    top:121px;
    width:263px;
    height:170px
}

.u94_original {
    background-image: url('../Add_New_Concept_files/u94_original.png');
}

.u94_container {
    position:absolute;
    left:728px;
    top:90px;
    width:263px;
    height:30px;
}

#u94_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:269px;
    height:36px;
}

.u95 {
    position:absolute;
    left:10px;
    top:6px;
    width:243px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u94 {
    position:absolute;
    left:728px;
    top:90px;
    width:263px;
    height:30px
}

.u96_original {
    background-image: url('../Add_New_Concept_files/u96_original.png');
}

.u96_container {
    position:absolute;
    left:741px;
    top:130px;
    width:100px;
    height:21px;
}

#u96_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:27px;
}

.u97 {
    position:absolute;
    left:2px;
    top:4px;
    width:96px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u96 {
    position:absolute;
    left:741px;
    top:130px;
    width:100px;
    height:21px
}

.u98_original {
    background-image: url('../Add_New_Concept_files/u96_original.png');
}

.u98_container {
    position:absolute;
    left:869px;
    top:130px;
    width:100px;
    height:21px;
}

#u98_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:27px;
}

.u99 {
    position:absolute;
    left:2px;
    top:4px;
    width:96px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u98 {
    position:absolute;
    left:869px;
    top:130px;
    width:100px;
    height:21px
}

.u100_line {
    background-image: url('../Add_New_Concept_files/u100_line.png');
}

.u100_line {
    position:absolute;
    left:728px;
    top:184px;
    width:262px;
    height:3px;
}

.u100 {
    position:absolute;
    left:728px;
    top:184px;
    width:262px;
    height:3px
}

.u101 {
    position:absolute;
    left:739px;
    top:167px;
    width:40px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u102 {
    position:absolute;
    left:784px;
    top:167px;
    width:31px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u103 {
    position:absolute;
    left:820px;
    top:167px;
    width:23px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u104_line {
    background-image: url('../Add_New_Concept_files/u104_line.png');
}

.u104_line {
    position:absolute;
    left:728px;
    top:208px;
    width:262px;
    height:3px;
}

.u104 {
    position:absolute;
    left:728px;
    top:208px;
    width:262px;
    height:3px
}

.u105 {
    position:absolute;
    left:741px;
    top:191px;
    width:49px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u106 {
    position:absolute;
    left:795px;
    top:191px;
    width:38px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u107 {
    position:absolute;
    left:835px;
    top:191px;
    width:23px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u108_line {
    background-image: url('../Add_New_Concept_files/u108_line.png');
}

.u108_line {
    position:absolute;
    left:728px;
    top:246px;
    width:262px;
    height:3px;
}

.u108 {
    position:absolute;
    left:728px;
    top:246px;
    width:262px;
    height:3px
}

.u109 {
    position:absolute;
    left:752px;
    top:215px;
    width:49px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u110 {
    position:absolute;
    left:804px;
    top:215px;
    width:70px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u111 {
    position:absolute;
    left:880px;
    top:215px;
    width:23px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u112_container {
    position:absolute;
    left:742px;
    top:215px;
    width:13px;
    height:13px;
}

#u112_img {
    position:absolute;
    left:0px;
    top:0px;
    width:13px;
    height:13px;
}

.u113 {
    position:absolute;
    left:2px;
    top:-2px;
    width:9px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u112 {
    position:absolute;
    left:742px;
    top:215px;
    width:13px;
    height:13px
}

.u114_original {
    background-image: url('../Add_New_Concept_files/u114_original.png');
}

.u114_container {
    position:absolute;
    left:881px;
    top:259px;
    width:100px;
    height:21px;
}

#u114_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:27px;
}

.u115 {
    position:absolute;
    left:2px;
    top:4px;
    width:96px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u114 {
    position:absolute;
    left:881px;
    top:259px;
    width:100px;
    height:21px
}

.u116 {
    position:absolute;
    left:742px;
    top:261px;
    width:89px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u117_original {
    background-image: url('../Add_New_Concept_files/u117_original.png');
}

.u117_container {
    position:absolute;
    left:167px;
    top:690px;
    width:533px;
    height:60px;
}

#u117_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:539px;
    height:66px;
}

.u118 {
    position:absolute;
    left:2px;
    top:22px;
    width:529px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u117 {
    position:absolute;
    left:167px;
    top:690px;
    width:533px;
    height:60px
}

.u119_original {
    background-image: url('../Add_New_Concept_files/u119_original.png');
}

.u119_container {
    position:absolute;
    left:167px;
    top:659px;
    width:533px;
    height:30px;
}

#u119_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:539px;
    height:36px;
}

.u120 {
    position:absolute;
    left:10px;
    top:6px;
    width:513px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u119 {
    position:absolute;
    left:167px;
    top:659px;
    width:533px;
    height:30px
}

.u121 {
    position:absolute;
    left:176px;
    top:696px;
    width:514px;
    height:12px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u122 {
    position:absolute;
    left:177px;
    top:715px;
    width:243px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u123_original {
    background-image: url('../Add_New_Concept_files/u123_original.png');
}

.u123_container {
    position:absolute;
    left:424px;
    top:718px;
    width:66px;
    height:21px;
}

#u123_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:72px;
    height:27px;
}

.u124 {
    position:absolute;
    left:2px;
    top:4px;
    width:62px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u123 {
    position:absolute;
    left:424px;
    top:718px;
    width:66px;
    height:21px
}

